.case {
  &__left {
    text-align: center;
  }

  &__right {
    position: relative;
  }

  &__year {
    margin: 0 auto;
    word-break: break-all;
    width: 1.4rem;
  }

  &__arrow {
    width: 0.75em;
    margin: 1em auto 0;

    .icon {
      padding-bottom: 671.9%;
    }
  }

  &__thumb {
    display: block;
    position: relative;
    transition: transform 250ms ease;
    will-change: transform;

    &:hover {
      transform: scale(1.05);
      transform-origin: center;
    }
  }

  &__icon {
    .svgIcon {
      width: 6.125rem;
    }
  }

  &__divider {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;

    .svgIcon {
      width: 10rem;
      max-width: 100%;
    }
  }

  &__title {
    .title {
      color: #aeb0b3;
    }

    .cite {
      color: #a2a4a7;

      .svgIcon {
        width: 50%;
        stroke: none;
        fill: currentColor;
      }

      .year {
        line-height: 1.4;
        font-size: 0.75em;
        font-family: monospace;
      }
    }
  }

  &__quote {
    margin-top: 2rem;
    font-size: 1rem;

    blockquote, .blockquote {
      font-style: italic;
      line-height: 1.6;
      color: #aeb0b3;
      padding-right: 1rem;

      &:before {
        content: '"';
      }

      &:after {
        content: '"';
      }
    }

    .cite {
      text-align: right;
      margin-top: 0.6rem;
      color: #a2a4a7;

      .svgIcon {
        width: 50%;
        stroke: none;
        fill: currentColor;
      }

      figcaption, .figcaption {
        line-height: 1.4;
        font-size: 0.75em;
        font-family: monospace;
      }
    }
  }
}

// Tabs
.tabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1280px;
  margin: 2rem auto 1rem;
  padding-left: 0;
  list-style: none;
}

.tab {
  padding: 0.5rem;
  text-align: center;
  transition: opacity 250ms ease-in;

  &__content {
    display: block;
    opacity: 0.33;
    overflow: hidden;

    .heading {
      @media screen and (max-width: 500px) {
        font-size: 1rem;
      }
    }
  }

  &:hover .tab__content {
    opacity: 0.66;
  }

  &:focus {
    outline: none;

    .tab__icon svg {
      filter: drop-shadow(0 0 4px #fff);
    }
  }

  &.active {
    .tab__content {
      opacity: 1;
    }
  }

  &__icon {
    display: inline-block;
    width: 3.75rem;
    max-width: 120px;
  }

  &__title {
    display: block;
  }
}

.tabPanel {
  > * + * {
    margin-top: 2rem;
  }
}

.year-select {
  display: flex;
  justify-content: center;

  .heading {
    opacity: 0.33;

    @media screen and (max-width: 500px) {
      font-size: 1rem;
    }
  }

  .select-wrapper {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease;

    &--selected {
      .select-icon {
        opacity: 1;
      }

      .heading {
        opacity: 1;
      }
    }
  }

  .select-icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding-right: 0.25rem;
    opacity: 0.33;
    pointer-events: none;
    display: flex;
    align-items: center;
    transition: inherit;

    .svgIcon {
      font-size: 0.5rem;
      fill: currentColor;
      stroke: none;
    }
  }

  select {
    margin-left: 0.5rem;
    position: relative;
    padding: 0.2rem 1rem 0.2rem 0.25rem;
    color : currentColor;
    border: 2px solid currentColor;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    line-height: 1;
    -webkit-appearance: none;
    transition: inherit;

    option {
      color: black;
    }

    &:hover {
      opacity: 0.66;

      & ~ .select-icon {
        opacity: 0.66;
      }
    }

    &:focus {
      opacity: 1;

      & ~ .select-icon {
        opacity: 1;
      }

      & ~ .heading {
        opacity: 1;
      }
    }
  }
}