backend:
  name: git-gateway
  branch: master
  commit_messages:
    create: 'Create {{collection}} “{{slug}}”'
    update: 'Update {{collection}} “{{slug}}”'
    delete: 'Delete {{collection}} “{{slug}}”'
    uploadMedia: '[skip ci] Upload “{{path}}”'
    deleteMedia: '[skip ci] Delete “{{path}}”'

media_folder: static/img
public_folder: /img

collections:
  - name: "news"
    label: "News"
    editor:
      preview: false
    folder: "src/pages/news"
    create: true
    slug: "{{slug}}"
    fields:
      - {label: "Template Key", name: "templateKey", widget: "hidden", default: "blog-post"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Description", name: "description", widget: "text"}
      - {label: "Featured Image", name: "featuredimage", widget: image}
      - {label: "Body", name: "body", widget: "markdown"}

  - name: "work"
    label: "Work"
    editor:
      preview: false
    folder: "src/pages/work"
    create: true
    slug: "{{slug}}"
    fields:
      - {label: "Template Key", name: "templateKey", widget: "hidden", default: "work-item"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Title EN", name: "titleEN", widget: "string"}
      - {label: "Date", name: "date", widget: "datetime"}
      - {label: "Type", name: "type", widget: "select", options: ["mural", "painting", "paper"]}
      - {label: "Image", name: "image", widget: image}
      - {label: "Description", name: "description", widget: "text"}
      - {label: "Description EN", name: "descriptionEN", widget: "text"}
      - {label: "Body", name: "body", widget: "markdown"}
      - {label: "BodyEN", name: "bodyEN", widget: "markdown"}

  - name: "pages"
    label: "Pages"
    editor:
      preview: false
    files:
      - file: "src/pages/index.md"
        label: "Home"
        name: "index"
        fields:
          - {label: "Template Key", name: "templateKey", widget: "hidden", default: "index-page"}
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Title EN", name: "titleEN", widget: "string"}
          - {label: "Description", name: "description", widget: "text"}
          - {label: "DescriptionEN", name: "description", widget: "text"}
      - file: "src/pages/bio/index.md"
        label: "Bio"
        name: "bio"
        fields:
          - {label: "Template Key", name: "templateKey", widget: "hidden", default: "about-page"}
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Title EN", name: "titleEN", widget: "string"}
          - {label: "Description", name: "description", widget: "text"}
          - {label: "Description EN", name: "description", widget: "text"}
          - {label: "Content", name: "bio", widget: "object", fields: [{label: "Paragraph 1", name: "paragraph1", widget: "object", fields: [{label: "EL", name: "el", widget: "string"}, {label: "EN", name: "en", widget: "string"}]}, {label: "Paragraph 2", name: "paragraph2", widget: "object", fields: [{label: "EL", name: "el", widget: "string"}, {label: "EN", name: "en", widget: "string"}]}, {label: "Paragraph 3", name: "paragraph3", widget: "object", fields: [{label: "EL", name: "el", widget: "string"}, {label: "EN", name: "en", widget: "string"}]}]}
          - {label: "Image", name: "image", widget: "image"}
          - {label: "Timeline Title", name: "timelineTitle", widget: "object", fields: [{label: 'EL', name: 'el', widget: 'string'}, {label: 'EN', name: 'en', widget: 'string'}]}
          - {label: "Timeline Events", name: "timelineEvents", widget: list, fields: [{ label: Year, name: year, widget: string }, { label: Title, name: title, widget: string }, { label: Description, name: description, widget: string }]}
      - file: "src/pages/work/index.md"
        label: "Work"
        name: "work"
        fields:
          - {label: "Template Key", name: "templateKey", widget: "hidden", default: "work-page"}
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Title EN", name: "titleEN", widget: "string"}
          - {label: "Description", name: "description", widget: "text"}
          - {label: "DescriptionEN", name: "description", widget: "text"}
      - file: "src/pages/news/index.md"
        label: "News"
        name: "news"
        fields:
          - {label: "Template Key", name: "templateKey", widget: "hidden", default: "news-page"}
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Title EN", name: "titleEN", widget: "string"}
          - {label: "Description", name: "description", widget: "text"}
          - {label: "DescriptionEN", name: "description", widget: "text"}
      - file: "src/pages/contact/index.md"
        label: "Contact"
        name: "contact"
        fields:
          - {label: "Template Key", name: "templateKey", widget: "hidden", default: "contact-page"}
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Title EN", name: "titleEN", widget: "string"}
          - {label: "Email", name: "email", widget: "string"}
          - {label: "Facebook", name: "facebook", widget: "string"}
          - {label: "Instagram", name: "instagram", widget: "string"}
      - file: "src/pages/terms-of-sale/index.md"
        label: "Terms of Sale"
        name: "terms"
        fields:
          - {label: "Template Key", name: "templateKey", widget: "hidden", default: "terms-page"}
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Title EN", name: "titleEN", widget: "string"}
          - {label: "Description", name: "description", widget: "text"}
          - {label: "DescriptionEN", name: "description", widget: "text"}
          - {label: "Content", name: "terms", widget: "object", fields: [{label: "EL", name: "el", widget: "markdown"}, {label: "EN", name: "en", widget: "markdown"}]}