.body--modal-open,
.html--modal-open {
  overflow: hidden;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
}

.modal {

  &__content {
    position: absolute;
    top: 2.8rem;
    bottom: 1.4rem;
    left: 0;
    width: 100%;

    outline: none;
    -webkit-tap-highlight-color: transparent;
  }

  &__open {
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;

    button {
      width: 4.8rem;
      padding: 1rem;
    }
  }
}