$gray: #757575;
$light-gray: #B4B4B4;
$dark: #141414;

$min-width: 320px;
$max-width: 1732px;

$base-font: 16px;
$max-font: 32px;

$max-width-sm: 768px;

$min-width-md: 769px;
$max-width-md: 991px;

$min-width-lg: 992px;

$footer-height: calc(4rem + 12px);

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, em, img,
small, strike, strong, sub, sup,
b, u, i, dl, dt, dd, li,
fieldset, form, label, legend,
article, aside, embed,
figure, figcaption, footer, header,
menu, nav, section,
time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

@font-face {
  font-family: 'FaitakisDisplay';
  src: url('../../static/fonts/FaitakisDisplay.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: $base-font;

  @media screen and (min-width: 320px) {
    font-size: calc(#{$base-font} + #{strip-unit($max-font - $base-font)} * ((100vw - #{$min-width}) / #{strip-unit($max-width - $min-width)}));
  }

  @media screen and (min-width: $max-width) {
    font-size: $max-font;
  }

}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding-bottom: $footer-height;
  background-color: $dark;
  color: $light-gray;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: #fff;
  }
}

p {
  font-size: 0.875rem;
  line-height: 1.6;
  font-weight: 300;

  &:not(:first-of-type) {
    margin-top: 1em;
  }

  &:not(:last-of-type) {
    margin-bottom: 1em;
  }
}

i {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

ul, ol {
  padding-left: 1em;
}

body.portal-open {
  overflow: hidden;
}

.display-font {
  font-family: 'FaitakisDisplay', Helvetica, serif;
}

.typography-display {
  @extend .display-font;
  font-size: 46px;
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.heading {
  font-family: 'FaitakisDisplay', Helvetica, serif;
  letter-spacing: 0.25em;
  line-height: 1.2;
  text-transform: uppercase;

  &--gutters {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  &--center {
    text-align: center;
    margin-right: -0.25em;
  }
}

.h1 {
  font-size: 2.625rem;

}

.h2 {
  font-size: 1.4375rem;
}

.h3 {
  font-size: 1.125rem;
}

.h4 {
  font-size: 0.75rem;
  letter-spacing: 0.25em;
  line-height: 1;
}

.body {
  font-size: 0.875rem;
  line-height: 1.6;
  font-weight: 300;
}

.caption {
  font-size: 0.5rem;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.button-reset {
  background: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
  color: inherit;
  font: inherit;
  padding: 0;
  margin: 0;
}

.container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header {
  padding-top: 2rem;

  @media screen and (min-width: #{$min-width-md}) {
    padding-top: 2.8rem;
  }

  &__brand {
    text-align: center;
    width: 2.8rem;
    min-width: 56px;
    margin-left: auto;
    margin-right: auto;

    img {
      max-width: 100%;
      display: block;
    }
  }

  &__bar {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: #{$min-width-md}) {
      flex-direction: row;
      margin-top: 2.8rem;
    }
  }

  &__name {
    @extend .h4;
    flex: 1;
    color: $gray;
    text-align: center;
    text-transform: uppercase;
    font-family: inherit;
    letter-spacing: 1.5em;
    line-height: 1.4;
    margin-right: -1.5em;
    padding-left: 2rem;
    margin-top: 0;
    margin-bottom: 0;

    @media screen and (max-width: 667px) {
      padding-left: 0;
      font-size: 16px;
      letter-spacing: 1em;
      margin-right: -1em;
    }
  }

  &__languages {
    @extend .heading;
    font-size: 24px;

    @media screen and (max-width: 667px) {
      margin-top: 1rem;
    }

    > * {
      opacity: 0.3;

      &:hover {
        opacity: 0.6;
      }
    }

    .active {
      opacity: 1;
    }

    > * + * {
      margin-left: 0.5em;
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $footer-height;
  padding-left: 1rem;
  padding-right: 1rem;

  .disclaimer {
    font-size: 12px;
    letter-spacing: 0.25em;
    color: #5a5a5a;
    line-height: 1.2;

    > * {
      display: inline-block;
    }
  }


  a {
    letter-spacing: 0;
  }
}
.page {
  padding-top: 2rem;

  @media screen and (min-width: #{$min-width-md}) {
    padding-top: 2.8rem;
  }

  & &__grid {
    @media screen and (max-width: $max-width-md) {
      display: block;

      &:before, &:after {
        content: '';
        display: table;
        clear: both;
      }
    }
  }

  &__letter {
    display: flex;
    flex: 1.146;

    > * {
      flex: 1;
    }

    @media screen and (max-width: $max-width-md) {
      max-width: 32.825%;
      width: 100%;
      margin-bottom: 1rem;

      &--left {
        float: left;
        margin-right: 2rem;
      }

      &--right {
        float: right;
        margin-left: 2rem;
      }
    };
  }

  &__footer:not(:first-child) {
    margin-top: 2.8rem;

    @media screen and (min-width: #{$min-width-md}) {
      margin-top: 2rem;
    }

    & .menu {
      margin-top: 2.8rem;
    }
  }
}

.letter {
  flex: 1.146;
  @extend .stroked-icon;

}

.menu {
  display: flex;
  position: relative;

  &__pattern, &__item {
    opacity: 0.66;
    transition: opacity 300ms ease-in;
  }

  > .letter {
    flex: 1 1 11.95%;
    max-width: 11.95%;
  }


  &__pattern {
    flex: 1 1;
    max-width: 11.146%;
  }

  @media all and (min-width: 501px) {
    .tint {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      pointer-events: none;
      transition: opacity 420ms ease-out;
    }

    .tint-a {
      background: linear-gradient(to right, transparent 32.825%, #141414 32.825%);
    }

    .tint-b {
      background: linear-gradient(to right, $dark 21.883%, transparent 21.883%, transparent 54.8%, $dark 55.8%);
    }

    .tint-c {
      background: linear-gradient(to right, $dark 44.5%, transparent 44.5%, transparent 78%, $dark 78%);
    }

    .tint-d {
      background: linear-gradient(to right, $dark 67%, transparent 67%);
    }
  }


  &__item {
    position: relative;
    text-align: center;
    color: $light-gray;

    &:hover,
    &.menu-a:hover ~ .a,
    &.menu-b:hover ~ .b,
    &.menu-c:hover ~ .c,
    &.menu-d:hover ~ .d {
      opacity: 1;
    }

    &:hover + .tint {
      opacity: 0.66;
    }

    @media screen and (max-width: 500px) {
      &:first-of-type .menu__label {
        margin-top: 0;
      }
    }
  }

  &__label {
    @extend .h2;
    @extend .heading;
    margin-top: 1em;
    display: block;
  }

}

.mobile-menu-experiment {
  @media all and (max-width: 500px){
    flex-wrap: wrap;

    .menu__item {
      min-width: 36.4%
    }

    .menu-b {
      margin-left: -2.4%;
    }

    .menu-c {
      margin-right: -2.3%;
    }

    .menu__pattern {
      min-width: 31.8%
    }

    & .menu__label {
      font-size: 36px;
      margin-bottom: 1em;
    }
  }
}

.mobile-menu-experiment-beta {
  @media all and (max-width: 500px) {
    display: block;

    & .menu__item {
      width: 100%;
    }

    & .menu__item > div,
    & .menu__pattern {
      display: none;
    }

    & .menu__label {
      font-size: 36px;
    }
  }
}

.tl-edges {
  //overflow: hidden;

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.tl-wrapper {
  opacity: 0 !important;
  transition: opacity 420ms ease-in;


  &--mount {
    opacity: 0 !important;
  }
}

.tl-wrapper-status--entered {
  opacity: 1 !important;
}

.cookie-notice {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(180,180,180,.66);
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  @extend .container;

  > * {
    display: inline-block;
  }

  &__content {
    font-size: 16px;
    color: $dark;
    margin-right: 1em;
  }

  &__button {
    @extend .button-reset;
    border: 1px solid currentColor;
    font-size: 16px;
    color: $dark;
    padding: 0.25em 0.5em;
    -webkit-appearance: none;
  }
}

.grid {
  display: grid;
  column-gap: 5.2%;
  grid-template-areas: ". . ";

  &--bio {

    @media screen and (max-width: #{$max-width-sm})  {
      & > .page__letter {
        margin-right: 1rem;
      }

      & .order-2 {
        order: 3 !important;
      }

      & .order-3 {
        order: 2 !important;
      }
    }

    @media screen and (min-width: #{$min-width-md})  {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: #{$max-width-md})  {
      & .page__letter {
        margin-left: 21.883%;
      }
    }

    @media screen and (min-width: #{$min-width-lg})  {
      grid-template-columns: 17.175% 32.825% 32.825%;

      &:before {
        content: '';
      }
    }

  }

  &--work {
    grid-template-columns: 32.825% 61.975%;

    @media screen and (min-width: #{$max-width-md}) {
      grid-template-columns: 32.825% 50%;
    }
  }

  &--work-list {
    grid-template-columns: 5.2% 82.825% 5.2%;

    @media screen and (min-width: #{$min-width-md}) {
      grid-template-columns: 17.175% 50% 32.825%;
    }
  }

  &--work-item {
    grid-template-columns: 0 50% 32.825% 17.175%;

    &:before, &:after {
      content: '';
    }
  }

  &--news {
    display: flex;
    flex-direction: column;

    &  .page__letter {
      @media screen and (max-width: #{$max-width-sm}) {
        margin-right: 21.883%;
      }

    }

    @media screen and (min-width: #{$min-width-md}) {
      display: grid;
      grid-template-columns: 1.575% 32.825% 32.825%;

      &:before {
        order: 1;
        content: '';
      }
    }

  }

  &--contact {
    grid-template-columns: 1.575% 55.2% 32.825%;

    &:before {
      content: '';
      order: 1;
    }
  }

  .order-2 {
    order: 2;
  }

  .order-3 {
    order: 3;
  }
}

.absolute-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1280px;
  margin: 2rem auto 3.5rem;
  padding-left: 0;
  list-style: none;
}

.tab {
  padding: 0.5rem;
  text-align: center;
  transition: opacity 250ms ease-in;

  &__content {
    display: block;
    opacity: 0.33;
    overflow: hidden;
  }

  &:hover .tab__content {
    opacity: 0.66;
  }

  &:focus {
    outline: none;

    .tab__icon svg {
      filter: drop-shadow(0 0 4px #fff);
    }
  }

  &.active {
    .tab__content {
      opacity: 1;
    }
  }

  &__icon {
    display: inline-block;
    width: 3.75rem;
    max-width: 120px;
  }

  &__title {
    display: block;
  }
}

.tabPanel {
  > * + * {
    margin-top: 2em;
  }
}

.icon {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 100%;
  height: 0;

  &--narrow {
    padding-bottom: 58.2781%;
  }

  svg {
    @extend .absolute-fill;
    fill: currentColor;
  }
}

.case {
  &__left {
    text-align: center;
  }

  &__year {
    margin: 0 auto;
    word-break: break-all;
    width: 2rem;
  }

  &__arrow {
    width: 0.75em;
    margin: 1em auto 0;

    .icon {
      padding-bottom: 671.9%;
    }
  }

 &__thumb {
    position: relative;
    transition: .2s ease;

    &::before {
      content: '';
      z-index: 1;
      opacity: 0;
      @extend .absolute-fill;
      background-color: rgba(0,0,0,0.8);
      mix-blend-mode: multiply;
      transition: inherit;
    }

    &:hover::before {
      opacity: 1;
    }

    &:hover .case__meta {
      opacity: 1;
    }
  }

  &__meta {
    z-index: 1;
    opacity: 0;
    @extend .absolute-fill;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    transition: inherit;
  }

  &__icon {
    width: 7.125rem;
  }

  &__title {
    @extend .heading;
    @extend .h3;
    margin-top: 1em;
    text-align: center;
  }

  &__divider {
    width: 100%;
    padding: 4em 17.175%;

    .icon {
      padding-bottom: 18.125%;
    }
  }
}

.post-page {
  width: 35rem;
  max-width: 100%;
  margin: 0 auto;

  &__header {
    display: flex;
    margin-top: 2.8rem;

    & .heading {
      flex: 1;
      margin-right: 1em;
    }
  }

  &__date {
    > .svgIcon {
      margin-right: 0.5em;
    }
  }

  &__body {
    margin-top: 2rem;

    ul, ol, {
      > * + * {
        margin-top: 0.5em;
      }
    }
  }

  &__divider {
    width: 10rem;
    max-width: 100%;
    margin: 2.8rem 0 5.6rem;
  }

  &__pagination {
    max-width: 100%;
    width: 22rem;
    margin: 0 auto;
  }
}

//Work Item
.work-item {
  text-align: center;

  @media screen and (min-width: #{$max-width-sm}) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > * {
      width: 100%;
      max-width: 100%;
    }
  }


  &__description {
    line-height: 1.33;
    font-size: 18px;
    font-style: italic;

    @media screen and (min-width: #{$min-width-md}) {
      font-size: 0.75rem;
    }
  }

  &__pagination {
    margin-top: 1rem;
  }

  .icon-button {
    margin-top: 1rem;
  }

  .wave {
    width: 10rem;
    max-width: 100%;
    margin: 1rem auto;
  }

  .eye {
    max-width: 160px;
  }
}

.icon-button {
  max-width: 142px;
  width: 100%;

  &:focus {
    outline: none;

    svg {
      filter: drop-shadow(0 0 4px #fff);
    }
  }
}

.list {
  padding-left: 0;
  margin: 0;
  list-style: none;

  > * + * {
    margin-top: 0.5em;
  }
}

button {
  &:hover {
    color: #fff;
  }
}

.figure {
  margin-top: 2rem;

  @media screen and (min-width: 501px) {
    display: flex;
  }

  &__image {
    flex: 1;
    width: 100%;
  }

  &__caption {
    @extend .caption;
    white-space: nowrap;
    letter-spacing: 0.25em;
    font-family: monospace;
    align-self: flex-end;
    margin-top: 2em;
    text-align: right;

    @media screen and (min-width: 501px) {
      text-align: left;
      margin-left: 2em;
      writing-mode: tb;
      writing-mode: tb-rl;
      writing-mode: sideways-lr;
      writing-mode: vertical-lr;
    }
  }
}

.terms {
  max-width: 32rem;
  margin: 2rem auto;

  h2, h3, h4 {
    @extend .heading--gutters;
  }

  h2 {
    @extend .h2;
  }

  h3 {
    @extend .h2;
  }

  h4 {
    @extend .h2;
  }

  p {
    @extend .body;
  }

  em {
    text-decoration: underline;
  }

  ul, ol {
    padding-left: 1em;
    list-style: disc;
    font: inherit;
    line-height: 1.4;

    > * + * {
      margin-top: 1em;
    }
  }
}

.protected-image {
  position: relative;

  &:after {
    content: '';
    @extend .absolute-fill;
  }
}

.stroked-icon {
  svg {
    fill: none;
    stroke-width: 2;
    stroke: currentColor;
  }
}

.css-link {
  width: 10px;
  height: 30px;
  border-radius: 15px / 45px;
  border: 1px solid currentColor;
}

.hidden-sm {
  @media all and (max-width: #{$max-width-sm}) {
    display: none;
  }
}

.hidden-md {
  @media all and (min-width: #{$min-width-md}) {
    display: none;
  }
}

.hidden-lg {
  @media all and (min-width: #{$min-width-lg}) {
    display: none;
  }
}

.visible-md {
  @media all and (max-width: #{$max-width-md}) {
    display: none;
  }
}

.svgIcon {
  width: 1em;
  display: inline-block;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;

  &--responsive {
    @extend .absolute-fill;
  }
}