$gray: #757575;
$light-gray: #B4B4B4;
$dark: #141414;

$max-width: 1732px;

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, em, img,
small, strike, strong, sub, sup,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, embed,
figure, figcaption, footer, header,
menu, nav, section,
time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

@font-face {
  font-family: 'FaitakisDisplay';
  src: url('../../static/fonts/FaitakisDisplay.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: $dark;
  color: $light-gray;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 28px;
  line-height: 1.6;

  &:not(:first-child) {
    margin-top: 2em;
  }

  &:not(:last-child) {
    margin-bottom: 2em;
  }
}

legend {
  display: table;
  float: left;
  width: 100%;

  + * {
    clear: both;
  }
}

fieldset {
  padding: 0.01em 0 0 0;
  min-width: 0;
}

i {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

body.portal-open {
  overflow: hidden;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.button-reset {
  background: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
  color: inherit;
  font: inherit;
  padding: 0;
  margin: 0;
}

.display-font {
  font-family: 'FaitakisDisplay', Helvetica, serif;
}

.typography-display {
  @extend .display-font;
  font-size: 46px;
  text-transform: uppercase;
}

.h1 {
  @extend .display-font;
  font-size: 84px;
  letter-spacing: 0.25em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header {
  padding: 90px 0;

  &__brand {
    text-align: center;
  }

  &__bar {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
  }

  &__name {
    flex: 1;
    padding-left: 64px;
    margin: 0;
    color: $gray;
    text-align: center;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.5em;
    line-height: 1;
  }

  &__languages {
    @extend .display-font;
    font-size: 24px;
    letter-spacing: 0.25em;

    > * {
      opacity: 0.3;

      &:hover {
        opacity: 0.6;
      }
    }

    .active {
      opacity: 1;
    }

    > * + * {
      margin-left: 0.5em;
    }
  }
}

.letter {
  flex: 1.146;
}

.nav {
  display: flex;
  position: relative;

  > * {
    flex: 1;
    opacity: 0.66;
    transition: opacity 300ms ease;
  }

  > .letter {
    @extend .letter;
  }

  .tint {
    @extend .absolute-fill;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
  }

  .tint-a {
    background: linear-gradient(to right, transparent 32.825%, #141414 32.825%);
  }

  .tint-b {
    background: linear-gradient(to right, $dark 21.883%, transparent 21.883%, transparent 54.8%, $dark 55.8%);
  }

  .tint-c {
    background: linear-gradient(to right, $dark 44.5%, transparent 44.5%, transparent 78%, $dark 78%);
  }

  .tint-d {
    background: linear-gradient(to right, $dark 67%, transparent 67%);
  }

  .menu-item {
    @extend .typography-display;
    line-height: 1;
    position: relative;
    text-align: center;
    color: currentColor;

    &__label {
      display: block;
      margin-top: 1.4em;
    }

    &:hover,
    &.menu-a:hover ~ .a,
    &.menu-b:hover ~ .b,
    &.menu-c:hover ~ .c,
    &.menu-d:hover ~ .d {
      opacity: 1;
    }

    &:hover + .tint {
      opacity: 0.66;
    }
  }
}

.tl-wrapper {
  opacity: 0 !important;
  transition: all 420ms ease;
  filter: blur(16px);


  &--mount {
    opacity: 0 !important;
    filter: blur(16px);
  }
}

.tl-wrapper-status--entered {
  opacity: 1 !important;
  filter: blur(0px);
}

.page-letter {
  display: flex;

  > * {
    flex: 1;
  }

  .letter {
    @extend .letter;
  }
}

.grid {
  display: grid;
  column-gap: 5.2%;
  grid-template-areas: ". . . .";

  &--bio {
    grid-template-columns: 17.175% 32.825% 32.825%;

    &:before {
      content: '';
    }
  }

  &--work {
    grid-template-columns: 32.825% 50%;
  }

  &--work-list {
    grid-template-columns: 17.175% 50% 32.825%;
  }

  &--work-item {
    grid-template-columns: 0 50% 32.825% 17.175%;

    &:before, &:after {
      content: '';
    }
  }

  &--news {
    grid-template-columns: 1.575% 32.825% 32.825%;

     &:before {
      content: '';
    }
  }

  &--contact {
    grid-template-columns: 1.575% 55.425% 32.825%;

    &:before {
      content: '';
    }
  }

  .order-2 {
    order: 2;
  }

  .order-3 {
    order: 3;
  }
}

.absolute-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tabs {
  display: flex;
  align-items: stretch;
  max-width: 1300px;
  margin: 90px auto 150px;

  & > * {
    flex: 1 1 33.3333%;
    max-width: 33.3333%
  }
}

.tab {
  padding: 16px;
  text-align: center;
  transition: opacity 250ms ease-in;

  &__content {
    opacity: 0.33;
  }

  &:hover .tab__content {
    opacity: 0.66;
  }

  &:focus {
    outline: none;

    .tab__icon svg {
      filter: drop-shadow(0 0 4px #fff);
    }
  }

  &.active {
    .tab__content {
      opacity: 1;
    }
  }

  &__icon {
    display: inline-block;
    width: 100%;
    max-width: 120px;
  }

  &__title {
    @extend .display-font;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    margin-top: 1em;
    font-size: 48px;

    width: 100%;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.tabPanel {
  > * + * {
    margin-top: 2em;
  }
}

.icon {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 100%;
  height: 0;

  &--narrow {
    padding-bottom: 58.2781%;
  }

  svg {
    @extend .absolute-fill;
    fill: currentColor;
  }
}

.case {
  &__left {
    text-align: center;
  }

  &__year {
    @extend .display-font;
    font-size: 48px;
    letter-spacing: 0.25em;
    font-weight: 400;

    .year {
      margin: 0 auto;
      word-break: break-all;
      width: 1.46em;
    }
  }

  &__arrow {
    width: 100%;
    max-width: 1.5em;
    margin: 1em auto 0;

    .icon {
      padding-bottom: 671.9%;
    }
  }

 &__thumb {
    position: relative;
    transition: .2s ease;

    &::before {
      content: '';
      z-index: 1;
      opacity: 0;
      @extend .absolute-fill;
      background-color: rgba(0,0,0,0.8);
      mix-blend-mode: multiply;
      transition: inherit;
    }

    &:hover::before {
      opacity: 1;
    }

    &:hover .case__meta {
      opacity: 1;
    }
  }

  &__meta {
    z-index: 1;
    opacity: 0;
    @extend .absolute-fill;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
    transition: inherit;
  }

  &__icon {
    width: 33%;
  }

  &__title {
    @extend .display-font;
    margin-top: 1.4em;
    font-size: 36px;
    letter-spacing: 0.25em;
    text-align: center;
    text-transform: uppercase;
  }

  &__divider {
    width: 100%;
    padding: 4em 17.175%;

    .icon {
      padding-bottom: 18.125%;
    }
  }
}

// News
.post-list {
  margin-top: 150px;

  &  > * + * {
    margin-top: 150px;
  }
}

.post {
  display: flex;
  padding: 0 5%;

  &__image {
    flex: 1 1 auto;
    max-width: 280px;
    margin-right: 5%;
  }

  &__content {
    flex: 1;
  }

  &__header {
    display: flex;
  }

  &__title {
    @extend .display-font;
    flex: 1;
    margin-top: 0;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.25em;
    text-transform: uppercase;
  }

  &__date {
    font-size: 28px;
  }

  &__excerpt {
    font-size: 28px;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

  &__more {
    @extend .display-font;
    font-size: 36px;
    text-transform: uppercase;
    display: block;
    max-width: 312px;

    .label {
      display: flex;
      margin-top: 1em;

      .text {
        flex: 1;
        margin-right: 1.25em;
      }

      .graphic {
        width: 100%;
        max-width: 55px;
      }
    }

    .eye {
      fill: currentColor;
    }

    .wave {
      fill: none;
      stroke-width: 2;
      stroke: currentColor;
    }
  }
}

.single-post {
  &__image {
    padding-left: 130px;
    padding-right: 130px;
  }
}

//Work Item
.work-item {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > * {
    width: 100%;
    max-width: 100%;
  }

  &__description {
    font-size: 24px;
    line-height: 1.33;
  }

  .wave {
    max-width: 312px;
    margin: 24px auto 32px;
  }

  .eye {
    max-width: 160px;
  }
}

.pagination {
  display: flex;
  margin-top: 32px;

  &__letter {
    width: 100%;
    flex: 1 1 20%;
    padding: 0 5%;

    .icon {
      padding-bottom: 265.73%;
    }

    svg {
      fill: none;
      stroke-width: 2;
      stroke: currentColor;
    }
  }

  &__prev, &__next {
    flex: 1 1 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;

    a {
      width: 100%;
    }

    .icon {
      padding-bottom: 15%;
    }
  }

  &__prev {
    transform: rotate(180deg);
    transform-origin: center;
  }
}

.icon-button {
  max-width: 142px;
  width: 100%;
}

.portal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 2;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 5%;
  }

  &__content {
    width: 100%;
    height: 100%;

    > * {
      height: 100%;
    }
  }

  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 160px;
  }
}

.list {
  > * + * {
    margin-top: 1em;
  }
}

.external-link {
  &:hover {
    text-decoration: underline;
  }
}

.figure {
  display: flex;

  &__image {
    flex: 1;
    width: 100%;
  }

  &__caption {
    margin-left: 2em;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.25em;
    font-family: monospace;
    align-self: flex-end;
    writing-mode: tb;
    writing-mode: tb-rl;
    writing-mode: sideways-lr;
    writing-mode: vertical-lr;
  }
}

.protected-image {
  position: relative;

  &:after {
    content: '';
    @extend .absolute-fill;
  }
}

.stroked-icon {
  svg {
    fill: none;
    stroke-width: 2;
    stroke: currentColor;
  }
}

.css-link {
  width: 10px;
  height: 30px;
  border-radius: 15px / 45px;
  border: 1px solid currentColor;
}

.tl-edges {
  overflow: hidden;
}