.timeline {
  max-width: 18rem;
  margin-left: auto;
  margin-right: auto;

  &__item:first-child .timeline-link .timeline-link__icon {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      width: 50%;
      margin: 0 auto;
      height: 2px;
      background-color: currentColor;
    }
  }
  // Odd Years
  &__item:nth-child(odd) > .timeline-link {

    & .timeline-link__year {
      text-align: right;

      & > .content {
        padding-right: 0.5em;

        &:after {
          right: 0;
          transform-origin: right;
        }
      }
    }

    & .timeline-link__events {
      & > .content {
        padding-left: 0.5em;

        &:after {
          left: 0;
          transform-origin: left;
        }
      }

      .description {
        left: 0;
        padding-left: 0.5em;
      }
    }
  }
  // Even Years
  &__item:nth-child(even) > .timeline-link {
    flex-direction: row-reverse;

    & .timeline-link__events {
      text-align: right;

      & > .content {
        max-width: 100%;
        padding-right: 0.5em;

        &:after {
          right: 0;
          transform-origin: right;
          left: -1em;
        }
      }

      .description {
        padding-right: 0.5em;
        right: 0;
      }
    }

    & .timeline-link__year {
      & > .content {
        padding-left: 0.5em;

        &:after {
          left: 0;
          transform-origin: left;
        }
      }
    }
  }
}

.timeline-spacing {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--end {
    .timeline-link__icon .icon path.filled {
      fill: currentColor;
    }
  }
}

.timeline-link {
  display: flex;
  transition: opacity 300ms ease-in;
  cursor: default;

  &__icon {
    width: 10%;
    max-width: 10%;
    flex: 0 0 10%;

    .icon {
      padding-bottom: 174.1176470588%;

      path {
        fill: none;
        stroke-width: 2;
        stroke: currentColor;
      }
    }
  }

  &__events, &__year {
    flex: 1 1 45%;
    max-width: 45%;
    transition: inherit;

    & > .content {
      white-space: nowrap;
      display: inline;

      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: 100%;
        width: calc(100% + 1em);
        height: 1px;
        background-color: currentColor;
        transform: scaleX(0);
        transition: transform 250ms ease;
      }
    }

    & .content {
      height: 50%;
      display: inline-block;
    }
  }

  &__year {
    opacity: 0.66;
  }

  &__events {
    position: relative;
    opacity: 0;

    & .description {
      position: absolute;
      top: 50%;
      margin: 0;
      padding-top: 0.5em;
    }
  }

  &:hover {
    .link {
      opacity: 0;
      transform: scaleX(0.2);
    }

    .eye-link {
      transform: scale(1);
      transition-delay: 0s;
    }

    .timeline-link__year,
    .timeline-link__events {
      opacity: 1;
    }

    .timeline-link__year .content::after,
    .timeline-link__events .content::after {
      transform: scaleX(1);
      transition-delay: 100ms;
    }

  }
}

.link-to-eye {
  display: block;

  .link {
    opacity: 1;
  }

  .eye-link {
    transform: scale(0);
    transition-delay: 150ms;
  }

  g {
    transform-origin: center;
    transition: all 250ms ease;
  }

  path {
    fill: none;
    stroke-width: 2;
    stroke: currentColor;
  }
}